<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie Recipes Server</title>
</head>
<body>
    <h1>Welcome to the Foodie Recipe Server</h1>
    <h3>Api End Point</h3>
    <ul>
        <li><a href="/chefs">Get all Chefs</a></li>
        <li><a href="/chefs/3">Get an individual Chef</a></li>
        <li><a href="/recipes">Get all Recipes</a></li>
        <li><a href="/recipes/3">Get all Recipes of a chef</a></li>
    </ul>
</body>
</html>